In [127]:
import pandas as pd

In [128]:
df = pd.read_csv("../data/Unicorn_Companies_clean.csv")

In [129]:
df

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count
0,0,Bytedance,$140,4/07/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,28
1,1,SpaceX,$100.30,12/01/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,29
2,2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,39
3,3,Klarna,$45.60,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,56
4,4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,25
...,...,...,...,...,...,...,...,...,...,...,...
1032,1032,Timescale,$1,2/22/2022,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,7
1033,1033,Scalapay,$1,2/23/2022,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,10
1034,1034,Omada Health,$1,2/23/2022,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,30
1035,1035,BlueVoyant,$1,2/23/2022,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,6
1036,1036,Veev,$1,2/24/2022,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,11

In [130]:
df = df.loc[df["Select Inverstors"] != 'None']

In [132]:
#remove dollar sign
# data.loc[0:2,['Num','NAME']] = [100,'Python']
df["Valuation ($B)"] = df["Valuation ($B)"].str.strip("$")
df["Valuation ($B)"].astype(float)

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0       140.0
1       100.3
2        95.0
3        45.6
4        42.0
        ...
1032      1.0
1033      1.0
1034      1.0
1035      1.0
1036      1.0
Name: Valuation ($B), Length: 1020, dtype: float64

In [133]:
df.loc[df["Industry"] == "Finttech"]["Industry"] = "Fintech"

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [134]:
df['Industry'] = df['Industry'].replace(['Finttech'],'Fintech')
df["Industry"] = df["Industry"].replace(['Artificial intelligence'], 'Artificial Intelligence')

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [135]:
df["Date Joined"] = pd.to_datetime(df["Date Joined"])

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [136]:
df['YearJoined'] = pd.DatetimeIndex(df["Date Joined"]).year

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
df

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count,YearJoined
0,0,Bytedance,140,2017-04-07,China,Beijing,Artificial Intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,28,2017
1,1,SpaceX,100.30,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,29,2012
2,2,Stripe,95,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,39,2014
3,3,Klarna,45.60,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,56,2011
4,4,Epic Games,42,2018-10-26,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,25,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
1032,1032,Timescale,1,2022-02-22,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,7,2022
1033,1033,Scalapay,1,2022-02-23,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,10,2022
1034,1034,Omada Health,1,2022-02-23,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,30,2022
1035,1035,BlueVoyant,1,2022-02-23,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,6,2022
1036,1036,Veev,1,2022-02-24,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,11,2022

In [150]:
df_count = df.groupby(["Industry", "YearJoined"]).count()

In [151]:
df_count["NumberOfUnicorns"] = df_count["Unnamed: 0"]

In [152]:
df_count = df_count[['NumberOfUnicorns']]

In [155]:
df_count['index1'] = df_count.index

In [156]:
df_count

                                    NumberOfUnicorns  \
Industry                YearJoined
Artificial Intelligence 2012                       1
                        2015                       2
                        2016                       1
                        2017                       4
                        2018                      13
...                                              ...
Travel                  2017                       2
                        2018                       4
                        2019                       3
                        2021                       3
                        2022                       1

                                                             index1
Industry                YearJoined
Artificial Intelligence 2012        (Artificial Intelligence, 2012)
                        2015        (Artificial Intelligence, 2015)
                        2016        (Artificial Intelligence, 2016)
                        2017        (Artificial Intelligence, 2017)
                        2018        (Artificial Intelligence, 2018)
...                                                             ...
Travel                  2017                         (Travel, 2017)
                        2018                         (Travel, 2018)
                        2019                         (Travel, 2019)
                        2021                         (Travel, 2021)
                        2022                         (Travel, 2022)

[123 rows x 2 columns]

In [125]:
df_count.loc[df_count["YearJoined"] > 2014]

KeyError: 'YearJoined'