In [1]:
import pandas as pd
df = pd.read_csv("../data/Unicorn_Companies_clean2.csv")

In [5]:
df.loc[df["Industry"] == 'Finttech']

,Unnamed: 0,Unnamed: 0.1,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count,YearJoined
47,48,48,Digital Currency Group,10.0,2021-11-01,United States,New York,Finttech,"Ribbit Capital, capitalG, Softbank Group",2018,$3.396B,22,2021

In [6]:
df["Industry"] = df["Industry"].replace("Finttech", "Fintech")

In [7]:
df.loc[df["Industry"] == 'Finttech']

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Company, Valuation ($B), Date Joined, Country, City, Industry, Select Inverstors, Founded Year, Total Raised, Investors Count, YearJoined]
Index: []

In [9]:
df.to_csv("../data/Unicorn_Companies_clean2.csv")