In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/Unicorn_Companies.csv")

In [8]:
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,IPO,28,8,5
1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,None,29,12,None
2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,Asset,39,12,1
3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,Acquired,56,13,1
4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,Acquired,25,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,Timescale,$1,2/22/2022,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,None,7,2,None
1033,Scalapay,$1,2/23/2022,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,None,10,2,None
1034,Omada Health,$1,2/23/2022,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,None,30,6,None
1035,BlueVoyant,$1,2/23/2022,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,None,6,2,None
1036,Veev,$1,2/24/2022,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,None,11,1,None

In [14]:
df =df.drop('Portfolio Exits', axis=1)

In [16]:
df = df.drop('Deal Terms', axis=1)

In [18]:
df = df.drop('Financial Stage', axis=1)

In [25]:
df.dtypes

Company              object
Valuation ($B)       object
Date Joined          object
Country              object
City                 object
Industry             object
Select Inverstors    object
Founded Year         object
Total Raised         object
Investors Count      object
dtype: object

In [29]:
df.groupby(['Country']).size()

Country
Argentina                 1
Australia                 6
Austria                   2
Bahamas                   1
Belgium                   3
Bermuda                   1
Brazil                   16
Canada                   19
Chile                     2
China                   168
Colombia                  2
Croatia                   1
Czech Republic            1
Denmark                   2
Estonia                   2
Finland                   3
France                   24
Germany                  24
Hong Kong                 6
India                    63
Indonesia                 7
Ireland                   5
Israel                   20
Italy                     1
Japan                     6
Lithuania                 1
Luxembourg                1
Malaysia                  1
Mexico                    6
Netherlands               6
Nigeria                   1
Norway                    4
Philippines               2
Senegal                   1
Singapore                12
South Africa              2
South Korea              12
Spain                     3
Sweden                    6
Switzerland               5
Thailand                  2
Turkey                    3
United Arab Emirates      3
United Kingdom           42
United States           536
Vietnam                   2
dtype: int64

In [38]:
df.groupby(['Country']).size().reset_index(name='Number of Unicorns')

                 Country  Number of Unicorns
0              Argentina                   1
1              Australia                   6
2                Austria                   2
3                Bahamas                   1
4                Belgium                   3
5                Bermuda                   1
6                 Brazil                  16
7                 Canada                  19
8                  Chile                   2
9                  China                 168
10              Colombia                   2
11               Croatia                   1
12        Czech Republic                   1
13               Denmark                   2
14               Estonia                   2
15               Finland                   3
16                France                  24
17               Germany                  24
18             Hong Kong                   6
19                 India                  63
20             Indonesia                   7
21               Ireland                   5
22                Israel                  20
23                 Italy                   1
24                 Japan                   6
25             Lithuania                   1
26            Luxembourg                   1
27              Malaysia                   1
28                Mexico                   6
29           Netherlands                   6
30               Nigeria                   1
31                Norway                   4
32           Philippines                   2
33               Senegal                   1
34             Singapore                  12
35          South Africa                   2
36           South Korea                  12
37                 Spain                   3
38                Sweden                   6
39           Switzerland                   5
40              Thailand                   2
41                Turkey                   3
42  United Arab Emirates                   3
43        United Kingdom                  42
44         United States                 536
45               Vietnam                   2

In [21]:
df.to_csv("./data/Unicorn_Companies_clean.csv")