In [101]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [3]:
df = pd.read_csv('./data/Unicorn_Companies_clean.csv')

In [4]:
df

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count
0,0,Bytedance,$140,4/07/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,28
1,1,SpaceX,$100.30,12/01/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,29
2,2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,39
3,3,Klarna,$45.60,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,56
4,4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,25
...,...,...,...,...,...,...,...,...,...,...,...
1032,1032,Timescale,$1,2/22/2022,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,7
1033,1033,Scalapay,$1,2/23/2022,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,10
1034,1034,Omada Health,$1,2/23/2022,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,30
1035,1035,BlueVoyant,$1,2/23/2022,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,6
1036,1036,Veev,$1,2/24/2022,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,11

In [5]:
df.Industry.unique()

array(['Artificial intelligence', 'Other', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics',
       'Sequoia Capital, Thoma Bravo, Softbank',
       'E-commerce & direct-to-consumer', 'Edtech', 'Hardware',
       'Consumer & retail', 'Health', 'Auto & transportation', 'Finttech',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Kuang-Chi',
       'Tiger Global Management, Tiger Brokers, DCM Ventures',
       'Jungle Ventures, Accel, Venture Highway',
       'Artificial Intelligence',
       'Vision Plus Capital, GSR Ventures, ZhenFund',
       'Hopu Investment Management, Boyu Capital, DC Thomson Ventures',
       '500 Global, Rakuten Ventures, Golden Gate Ventures',
       'Sequoia Capital China, ING, Alibaba Entrepreneurs Fund',
       'Sequoia Capital China, Shunwei Capital Partners, Qualgro',
       'Dragonfly Captial, Qiming Venture Partners, DST Global',
       'SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures',
       'Mundi Ventures, Doqling Capital Partners, Activant Capital',
       'Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures',
       'Andreessen Horowitz, DST Global, IDG Capital',
       "B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution",
       'Temasek, Guggenheim Investments, Qatar Investment Authority'],
      dtype=object)

In [10]:
df['Industry'] = df['Industry'].replace(['Artificial intelligence'],'Artificial Intelligence')

In [11]:
df.Industry.unique()

array(['Artificial Intelligence', 'Other', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics',
       'Sequoia Capital, Thoma Bravo, Softbank',
       'E-commerce & direct-to-consumer', 'Edtech', 'Hardware',
       'Consumer & retail', 'Health', 'Auto & transportation', 'Finttech',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Kuang-Chi',
       'Tiger Global Management, Tiger Brokers, DCM Ventures',
       'Jungle Ventures, Accel, Venture Highway',
       'Vision Plus Capital, GSR Ventures, ZhenFund',
       'Hopu Investment Management, Boyu Capital, DC Thomson Ventures',
       '500 Global, Rakuten Ventures, Golden Gate Ventures',
       'Sequoia Capital China, ING, Alibaba Entrepreneurs Fund',
       'Sequoia Capital China, Shunwei Capital Partners, Qualgro',
       'Dragonfly Captial, Qiming Venture Partners, DST Global',
       'SingTel Innov8, Alpha JWC Ventures, Golden Gate Ventures',
       'Mundi Ventures, Doqling Capital Partners, Activant Capital',
       'Vertex Ventures SE Asia, Global Founders Capital, Visa Ventures',
       'Andreessen Horowitz, DST Global, IDG Capital',
       "B Capital Group, Monk's Hill Ventures, Dynamic Parcel Distribution",
       'Temasek, Guggenheim Investments, Qatar Investment Authority'],
      dtype=object)

In [20]:
df.loc[df['Industry'] =="Kuang-Chi"]

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count,False
217,217,HyalRoute,$3.50,5/26/2020,Singapore,Mobile & telecommunications,Kuang-Chi,None,2015,$263.12M,1,Artificial Intelligence

In [34]:
df.loc[df['Select Inverstors']== 'None']

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count,False
10,10,FTX,$32,7/20/2021,Bahamas,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",None,2018,$1.829B,40,Artificial Intelligence
217,217,HyalRoute,$3.50,5/26/2020,Singapore,Mobile & telecommunications,Kuang-Chi,None,2015,$263.12M,1,Artificial Intelligence
292,292,Amber Group,$3,6/21/2021,Hong Kong,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ve...",None,2015,$328M,18,Artificial Intelligence
318,318,Moglix,$2.60,5/17/2021,Singapore,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway",None,2015,$470.71M,16,Artificial Intelligence
438,438,Advance Intelligence Group,$2,9/23/2021,Singapore,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund",None,2016,$536M,13,Artificial Intelligence
639,639,Trax,$1.30,7/22/2019,Singapore,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC T...",None,2010,$1.013B,10,Artificial Intelligence
757,757,Carousell,$1.10,9/15/2021,Singapore,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Vent...",None,2012,$443M,16,Artificial Intelligence
789,789,LinkSure Network,$1,1/01/2015,China,Shanghai,Mobile & telecommunications,None,2013,$52M,2,Artificial Intelligence
814,814,WeLab,$1,11/08/2017,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...",None,2013,$896M,13,Artificial Intelligence
882,882,PatSnap,$1,3/16/2021,Singapore,Internet software & services,"Sequoia Capital China, Shunwei Capital Partner...",None,2007,$352.32M,10,Artificial Intelligence
911,911,Matrixport,$1.05,6/01/2021,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DS...",None,None,$126.55M,22,Artificial Intelligence
916,916,Carro,$1,6/14/2021,Singapore,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",None,2015,$684.52M,31,Artificial Intelligence
928,928,bolttech,$1,7/01/2021,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Acti...",None,2018,$502.2M,17,Artificial Intelligence
939,939,NIUM,$1,7/13/2021,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capit...",None,2014,$259.1M,22,Artificial Intelligence
951,951,Cider,$1,9/02/2021,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital",None,2020,$131.46M,8,Artificial Intelligence
963,963,Ninja Van,$1,9/27/2021,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic...",None,2014,$976.5M,15,Artificial Intelligence
1014,1014,ONE,$1,12/08/2021,Singapore,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investm...",None,2011,$486M,11,Artificial Intelligence

In [149]:
#df['Industry'] = df['Industry'].replace(['Artificial intelligence'],'Artificial Intelligence')

df_a = df.loc[df['Select Inverstors']!= 'None']

In [139]:
df_a['Date Joined'].astype(str)

0        4/07/2017
1       12/01/2012
2        1/23/2014
3       12/12/2011
4       10/26/2018
           ...
1032     2/22/2022
1033     2/23/2022
1034     2/23/2022
1035     2/23/2022
1036     2/24/2022
Name: Date Joined, Length: 1020, dtype: object

In [150]:
df_a['Date Joined'] = pd.to_datetime(df['Date Joined'])

In [151]:
df_a['YearJoined'] = df_a['Date Joined'].dt.year

In [152]:
df_a

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count,False,YearJoined
0,0,Bytedance,$140,2017-04-07,China,Beijing,Artificial Intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,28,Artificial Intelligence,2017
1,1,SpaceX,$100.30,2012-12-01,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,29,Artificial Intelligence,2012
2,2,Stripe,$95,2014-01-23,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,39,Artificial Intelligence,2014
3,3,Klarna,$45.60,2011-12-12,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,56,Artificial Intelligence,2011
4,4,Epic Games,$42,2018-10-26,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,25,Artificial Intelligence,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,1032,Timescale,$1,2022-02-22,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,7,Artificial Intelligence,2022
1033,1033,Scalapay,$1,2022-02-23,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,10,Artificial Intelligence,2022
1034,1034,Omada Health,$1,2022-02-23,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,30,Artificial Intelligence,2022
1035,1035,BlueVoyant,$1,2022-02-23,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,6,Artificial Intelligence,2022
1036,1036,Veev,$1,2022-02-24,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,11,Artificial Intelligence,2022

In [143]:
df_a.groupby(['Industry']).count()

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Select Inverstors,Founded Year,Total Raised,Investors Count,False,YearJoined
Industry,,,,,,,,,,,,
Artificial Intelligence,78,78,78,78,78,78,78,78,78,78,78,78
Auto & transportation,29,29,29,29,29,29,29,29,29,29,29,29
Consumer & retail,25,25,25,25,25,25,25,25,25,25,25,25
Cybersecurity,49,49,49,49,49,49,49,49,49,49,49,49
Data management & analytics,41,41,41,41,41,41,41,41,41,41,41,41
E-commerce & direct-to-consumer,107,107,107,107,107,107,107,107,107,107,107,107
Edtech,28,28,28,28,28,28,28,28,28,28,28,28
Fintech,205,205,205,205,205,205,205,205,205,205,205,205
Finttech,1,1,1,1,1,1,1,1,1,1,1,1
Hardware,33,33,33,33,33,33,33,33,33,33,33,33
Health,69,69,69,69,69,69,69,69,69,69,69,69
Internet software & services,192,192,192,192,192,192,192,192,192,192,192,192
Mobile & telecommunications,36,36,36,36,36,36,36,36,36,36,36,36
Other,56,56,56,56,56,56,56,56,56,56,56,56
"Supply chain, logistics, & delivery",57,57,57,57,57,57,57,57,57,57,57,57
Travel,14,14,14,14,14,14,14,14,14,14,14,14

AttributeError: 'DataFrame' object has no attribute 'value'

In [156]:
df_a.set_axis(['NumberOfUnicorns'], axis=1, inplace=True)

In [157]:
df_a

                                    NumberOfUnicorns
Industry                YearJoined
Artificial Intelligence 2012                       1
                        2015                       2
                        2016                       1
                        2017                       4
                        2018                      13
...                                              ...
Travel                  2017                       2
                        2018                       4
                        2019                       3
                        2021                       3
                        2022                       1

[124 rows x 1 columns]

In [158]:

df_a.to_csv('./data/Unicorn_Companies_clean2.csv')

In [154]:
df_a = df_a.iloc[:,0:1]

In [153]:
df_a = df_a.groupby(['Industry', 'YearJoined']).count()

In [69]:
df2 = df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]
df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]['Select Inverstors'] = df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]['Select Inverstors'].replace('None', df['Industry'])

In [70]:
df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]['Industry'] = df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]['City']

In [71]:
df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]['City'] = 'None'

In [72]:
df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']].loc[df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]["Industry"] == "Shanghai", ['City']] = df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']].loc[df2["Industry"] == "Shanghai", ['Industry']]

In [73]:
df.loc[df['Select Inverstors']== 'None', ['Country','City', 'Industry', 'Select Inverstors']]

,Country,City,Industry,Select Inverstors
10,Bahamas,Fintech,"Sequoia Capital, Thoma Bravo, Softbank",None
217,Singapore,Mobile & telecommunications,Kuang-Chi,None
292,Hong Kong,Fintech,"Tiger Global Management, Tiger Brokers, DCM Ve...",None
318,Singapore,E-commerce & direct-to-consumer,"Jungle Ventures, Accel, Venture Highway",None
438,Singapore,Artificial intelligence,"Vision Plus Capital, GSR Ventures, ZhenFund",None
639,Singapore,Artificial intelligence,"Hopu Investment Management, Boyu Capital, DC T...",None
757,Singapore,E-commerce & direct-to-consumer,"500 Global, Rakuten Ventures, Golden Gate Vent...",None
789,China,Shanghai,Mobile & telecommunications,None
814,Hong Kong,Fintech,"Sequoia Capital China, ING, Alibaba Entreprene...",None
882,Singapore,Internet software & services,"Sequoia Capital China, Shunwei Capital Partner...",None
911,Singapore,Fintech,"Dragonfly Captial, Qiming Venture Partners, DS...",None
916,Singapore,E-commerce & direct-to-consumer,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",None
928,Singapore,Fintech,"Mundi Ventures, Doqling Capital Partners, Acti...",None
939,Singapore,Fintech,"Vertex Ventures SE Asia, Global Founders Capit...",None
951,Hong Kong,E-commerce & direct-to-consumer,"Andreessen Horowitz, DST Global, IDG Capital",None
963,Singapore,"Supply chain, logistics, & delivery","B Capital Group, Monk's Hill Ventures, Dynamic...",None
1014,Singapore,Internet software & services,"Temasek, Guggenheim Investments, Qatar Investm...",None

In [67]:
df.loc[df['Industry']=='Fintech']

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Investors Count,False
2,2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,39,Artificial Intelligence
3,3,Klarna,$45.60,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,56,Artificial Intelligence
6,6,Checkout.com,$40,5/02/2019,United Kingdom,London,Fintech,"Tiger Global Management, Insight Partners, DST...",2012,$1.83B,15,Artificial Intelligence
9,9,Revolut,$33,4/26/2018,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital",2015,$1.716B,31,Artificial Intelligence
12,12,Chime,$25,3/05/2019,United States,San Francisco,Fintech,"Forerunner Ventures, Crosslink Capital, Homebrew",2013,$2.599B,24,Artificial Intelligence
...,...,...,...,...,...,...,...,...,...,...,...,...
1004,1004,Lydia,$1,12/08/2021,France,Paris,Fintech,"NewAlpha, XAnge Private Equity, Tencent Holdings",2011,$260.33M,12,Artificial Intelligence
1017,1017,CAIS,$1,1/11/2022,United States,New York,Fintech,"Franklin Templeton, Motive Partners. Apollo Gl...",2009,$283M,7,Artificial Intelligence
1023,1023,Esusu,$1,1/27/2022,United States,New York,Fintech,"Next Play Ventures, Zeal Capital Partners, Sof...",2015,$144.43M,25,Artificial Intelligence
1027,1027,Payhawk,$1,2/14/2022,United Kingdom,London,Fintech,"Earlybird Venture Capital, Eleven Ventures, QE...",2018,$236.5M,15,Artificial Intelligence
1033,1033,Scalapay,$1,2/23/2022,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,10,Artificial Intelligence